<% for(var i=0; i < studentSentRewards.length; i++) { %>
    <div class="pAlign">
      <div><span class="pointsRed"><b>
            <%= studentSentRewards[i].xp_points %></b></span> PUNTOS ENVIADOS
        <%= studentSentRewards[i].date.getDate()%>/<%=studentSentRewards[i].date.getUTCMonth() +1%>/
            <%=studentSentRewards[i].date.getFullYear() %>
      </div>
      <p>
        <%= studentSentRewards[i].description %>
      </p>
      <p> para <b>
          <%= studentSentRewards[i].name %>
        </b></p>
    </div>
    <hr id="hrHistory" />
    <% } %>