<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
  <link rel="stylesheet" href="style/stylePointsWhitSending.css">
  <title>Mis puntos</title>
</head>

<body>
  <%- include('../partials/menu') %>
  <div>
    <h1 class="center">MIS PUNTOS</h1>
    <hr />
    <div id="divPiechart">
      <div class="color">
        <div class="piechart1">
          <div id="numberpie1">
            <%= showPointsFromStudent.activa_points_balance %>
          </div>
        </div>
        <p class="pieText">DISPONIBLES<br> ¡Listos para enviar!</p>
      </div>
      <div>
        <div class="piechart2">
          <div id="numberpie2">
            <%= studentSentRewardsSum.sumPoints %>
          </div>
        </div>
        <p class="pieText">TOTAL<br> <span id="sendText"> <a id="sentPoints" href="#">Enviados</a></span> | <span
            id="receivedText"> <a id="receivedPoints" href="#">Recibidos</a></span>
        </p>
      </div>
    </div>
  </div>
  <div id="enviarPuntos">
    <h2 class="center">ENVIAR PUNTOS</h2>
    <hr />
    <div id="fondo">
      <p class="center">Alumnos Xarxatec Activa 2023</p>
      <form action="/sendReward" method="post">
        <div class="search">

          <img id="iconActiva" src="img/puntos-activa-logo.svg" alt="logoBuscarGente">

          <select name="idRewardedStudent" id="alumnos">
            <% for(var i=0; i < getStudents.length; i++) { %>
              <% if(getStudents[i].id != studentLogged.id) { %>
                <option value="<%= getStudents[i].id %>" id="<%= getStudents[i].id %>">
                  <%= getStudents[i].name %>
                    <%= getStudents[i].first_surname %>
                </option>
                <% } %>
                    <% } %>
          </select>
        </div>
        <div class="spanCenter">Descripción del envío</div>
        <div id="textContainerDescription">
          <input id="sendDescription" name="sendDescription" type="text">
        </div>
        <div class="spanCenter">¿cuánto envías?</div>
        <div id="numberContainerqty">
          <input id="pointQty" name="pointQty" type="number">
          <input type="hidden" name="senderId" value="<%= studentLogged.id %>">
          <input type="hidden" name="userSender" value="<%= studentLogged.name %>">
          <button type="submit" id="sendPoints">ENVIAR</button>

        </div>
      </form>
    </div>
  </div>
  <div id="miHistorial">
    <h2 class="center">MI HISTORIAL</h2>
    <hr />
    <div class="btnGroup">
      <a href="points?puntosEnviados=true"><button id="sendButton"><u>ENVIADOS</u></button></a>
      <a href="points?puntosEnviados=false"><button id="receivedButton"><u>RECIBIDOS</u></button></a>
    </div>
    <% if(puntosEnviados=="false"){ %>
      <%- include('../partials/puntosRecibidos') %>
      
    <% } else{ %>
      <%- include('../partials/puntosEnviados') %>
      <% } %>
    
   
  
    <br><br><br><br>
  </div>
  <script>
    const numpie = document.getElementById("numberpie2");
    const receivedPoints = document.getElementById("receivedPoints");
    const sentPoints = document.getElementById("sentPoints");


    function receivedSentRewards(e) {
      if (e.target.innerText == "Recibidos") numpie.innerHTML = `<%= studentReceivedRewards.points %>`;
      if (e.target.innerText == "Enviados") numpie.innerHTML = `<%= studentSentRewardsSum.sumPoints %>`;
    }

    receivedPoints.addEventListener("click", receivedSentRewards);
    sentPoints.addEventListener("click", receivedSentRewards);
  </script>
  <% if (sentrewards==="true" ) { %>
    <script>alert("Puntos Enviados")</script>
    <% } %>
  <% if (sentrewards==="false" ) { %>
    <script>alert("No puedes enviar esa cantidad!!!")</script>
    <% } %>

</body>

</html>