<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styleranking.css">
    <title>Ranking Puntos Xarxatec Activa</title>
</head>

<body>
    <%- include('../partials/menu') %>
    <div class="column">
        <div id="rankingColumn">
            <h1>RANKING</h1>
            <hr id="rankingTitle" />
            
                <% for(var i=0; i < 5; i++) { %>
                   <% if(i < 5) { %>
                    <div class="rankingList1">
                        <p class="rankingPositionPodium item1"><%= i +1 %></p>
                        <p class="item2"><%= ranking[i].name %></p>
                        <p class="item3"><em class="red"></em></p>
                        <p class="item4"><span id="pointSize"><b><%= ranking[i].points %></b></span> PUNTOS ACTIVA</p>
                    </div>
                    <hr id="rankingHr" />
                    <% } %>
                    <% } %>
            
        </div>
        <div>
            <div id="rankingCup">
                <div class="center">
                    <img id="cup" src="img/iconosMenu/ranking-blue.svg" alt="una copa"></div>
                        <div id="myPosition">TU PUESTO ACTUAL <b id="myPositionNumber">
                            <% for(var i=0; i < ranking.length; i++) { %>
                                <% if(studentLogged.id == ranking[i].id) { %>
                                    <%= i +1 %>
                                <% } %>
                            <% } %>
                                
                        </b> <cite id="myTittle"> LLEGANDO A LA CIMA</cite>
                        </div>
            </div>
        </div>
    </div>
    <div id="socialColumns">
        <h2 class="center">HISTORIAL SOCIAL</h2>
        <hr />
        <div class="pAlign">
            <div id="headerPoints"><span class="pointsRed"><b>100</b> PuntosActiva </span>Ganó
                <b>MARLON BRANDON</b></div>
            <br>
            Sin ti no hubiera podido conseguirlo tqm bs7s, Un abrazo!.<br>
            <p>de parte de <b>Elvis no Presley</b>
        </div>
        <hr id="rankingHr" />
        <div class="pAlign">
            <div id="headerPoints"><span class="pointsRed"><b>50</b> PuntosActiva </span>Ganó
                <b>PICKLE RICK</b></div>
            <br>
            Si dejearas de beber serías un buen abuelo.<br>
            <p>de parte de <b>Morty</b>
        </div>
        <hr id="rankingHr" />
        <div class="pAlign">
            <div id="headerPoints"><span class="pointsRed"><b>75</b> PuntosActiva </span>Ganó
                <b>PEPPE RONI</b></div>
            <br>
            Con pizza en todos los trabajos salen "redondos" (K).<br>
            <p>de parte de <b>Lydia Blanco</b>
        </div>
        <hr id="rankingHr" />
        <div class="pAlign">
            <div id="headerPoints"><span class="pointsRed"><b>150</b> PuntosActiva </span>Ganó
                <b>MARIE KONDO</b></div>
            <br>
            Al ordenar tu css encontraste la clave del exito en tu corazón. <br>
            <p>de parte de <b>Marie Curie</b>
        </div>
        <hr id="rankingHr" />
        <div class="pAlign">
            <div id="headerPoints"><span class="pointsRed"><b>25</b> PuntosActiva </span>Ganó
                <b>KARLOS ARGUIÑANO</b></div><br> ¿Cómo les llaman los caníbales a los paracaidistas?", "Tocinitos
            de
            cielo".
            <br>
            <p>de parte de <b>Hannibal Lecter</b>
        </div>
        <hr id="rankingHr" />
        <div class="pAlign">
            <div id="headerPoints"><span class="pointsRed"><b>175</b> PuntosActiva </span>Ganó
                <b>CLARA</b></div>
            <br>
            Muchas gracias por aCLARArme la duda de bases de datos,
            Sin niebla todo está más claro.<br>
            <p>de parte de <b>HEIDI</b>
        </div>
        <br><br><br>
    </div>
</body>

</html>